.wrapper {
  width: 100%;
  padding: 10px;
  h3 {
    padding-left: 20px;
  }
  .main-details {
    display: flex;
    flex-wrap: wrap;
  }
  .form-group {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    min-height: 50px;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 100%;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .sub-header {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .attributes-list {
    max-height: 150px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    .attribute-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
  .button-container {
    margin-top: 20px;
  }
}
