<div class="tile">
  <img
    class="delete"
    src="assets/trash.png"
    width="18"
    height="18"
    alt="delete button"
    (click)="delete(student)"
  />
  <div class="name">
    {{ student.name }}
  </div>
  <div class="gender">
    @if (student.gender === 'male') {
    <img src="assets/male.png" width="32" height="32" alt="male" />
    } @else {
    <img src="assets/female.png" width="32" height="32" alt="female" />
    }
  </div>
  <div class="marks">Marks: {{ student.marks }}</div>
  <div class="group">Group: {{ student.group | uppercase }}</div>
  <div [hidden]="false" class="attributes-list">
    @for (attr of student.attributes; track $index) {
    <div class="chip">
      {{ attr }}
    </div>
    }
  </div>
</div>
